[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
sqlalchemy-serializer = "*"
python-dotenv = "*"
flask-session = "*"
flask-bcrypt = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.10"
